                                                    FAKE DATASET

Importing Libraries and Data

In [1]:
import numpy as np 
import pandas as pd 
import re
import string

In [2]:
fakedata = pd.read_csv('Fake.csv')
fakedata.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

                                                    FEATURE EXTRACTION

NUMBER OF CHARACTERS, WORDS, WORD-LENGTH, STOP WORDS, DIGITS, NON-ALPHANUMERIC, UPPERCASE AND LOWERCASE LETTERS

In [11]:
fakedata['number_of_char'] = fakedata['text'].str.len()
fakedata[['text','number_of_char']].head()
print('Number of Char (Minimum):' + str(np.min(fakedata[fakedata['number_of_char'] > 0])));
print('Number of Char (Maximum): ' + str(np.max(fakedata[['number_of_char']])));
print('Number of Char (Average): ' + str(np.average(fakedata[['number_of_char']])));

Number of Char (Minimum):title              \r\r\r\r\r\r\r\nDonald Trump Gets His A** Hand...
text
subject                                              Government News
date                                                       14-Feb-18
number_of_char                                                     1
number_of_words                                                    1
word_length                                                        0
dtype: object
Number of Char (Maximum): number_of_char    51794
dtype: int64
Number of Char (Average): 2547.396235254035

In [12]:
fakedata['number_of_words'] = fakedata['text'].apply(lambda x: len(str(x).split(" ")))
fakedata[['text','number_of_words']].head()
print('Number of Words (Minimum):' + str(np.min(fakedata[fakedata['number_of_words'] >0])));
print('Number of Words (Maximum):' + str(np.max(fakedata[['number_of_words']])));
print('Number of Words (Average):' + str(np.average(fakedata[['number_of_words']])));

Number of Words (Minimum):title              \r\r\r\r\r\r\r\nDonald Trump Gets His A** Hand...
text
subject                                              Government News
date                                                       14-Feb-18
number_of_char                                                     1
number_of_words                                                    1
word_length                                                        0
dtype: object
Number of Words (Maximum):number_of_words    8436
dtype: int64
Number of Words (Average):435.23721306588305

In [13]:
def avg_word_converter(sentence):
    words = sentence.split()
    if (len(words)==0): return 0
    return (sum(len(word) for word in words)/len(words))

In [24]:
fakedata['word_length'] = fakedata['text'].apply(lambda x: avg_word_converter(x))
fakedata[['text','word_length']].head()
print('Length of Words (Minimum): ' + str(np.min(fakedata[fakedata['word_length'] > 0])));
print('Length of Words (Maximum): ' + str(np.max(fakedata[['word_length']])));
print('Length of Words (Average): ' + str(np.average(fakedata[['word_length']])));

Length of Words (Minimum): title                  \r\r\r\r\r\r\r\nDonald Trump Gets His A** Hand...
text                       (Welcome) to America We hope you enjoy our...
subject                                                  Government News
date                                                           14-Feb-18
number_of_char                                                         5
number_of_words                                                        1
word_length                                                         2.25
number_of_numbers                                                      0
number_of_lowercase                                                    0
non_alp                                                                0
number_of_uppercase                                                    0
dtype: object
Length of Words (Maximum): word_length    149.0
dtype: float64
Length of Words (Average): 5.0124096724459335

In [19]:
fakedata['number_of_numbers'] = fakedata['text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
fakedata[['text','number_of_numbers']].head()
print('Number of Numbers (Minimum):' + str(np.min(fakedata[fakedata['number_of_numbers'] > 0])));
print('Number of Numbers (Maximum): ' + str(np.max(fakedata[['number_of_numbers']])));
print('Number of Numbers (Average): ' + str(np.average(fakedata[['number_of_numbers']])));

Number of Numbers (Minimum):title                  \r\r\r\r\r\r\r\nEx-GOP Congressman Shreds Fell...
text                       (Welcome) to America We hope you enjoy our...
subject                                                  Government News
date                                                           14-Feb-18
number_of_char                                                        46
number_of_words                                                        9
word_length                                                          3.6
number_of_numbers                                                      1
number_of_lowercase                                                    0
dtype: object
Number of Numbers (Maximum): number_of_numbers    118
dtype: int64
Number of Numbers (Average): 1.6966057663642946

In [16]:
def find_nonalp(text):
    line = re.findall("[^A-Za-z0-9 ]",text)
    return line

In [20]:
fakedata['non_alp']=fakedata['text'].apply(lambda x: len(find_nonalp(x)))
fakedata[['text', 'non_alp']].head()
print('Number of NonAlphabets (Minimum):' + str(np.min(fakedata[fakedata['non_alp'] > 0])));
print('Number of NonAlphabets (Maximum): ' + str(np.max(fakedata[['non_alp']])));
print('Number of NonAlphabets (Average): ' + str(np.average(fakedata[['non_alp']])));

Number of NonAlphabets (Minimum):title                  \r\r\r\r\r\r\r\nDonald Trump Gets His A** Hand...
text                       (Welcome) to America We hope you enjoy our...
subject                                                  Government News
date                                                           14-Feb-18
number_of_char                                                         5
number_of_words                                                        1
word_length                                                         2.25
number_of_numbers                                                      0
number_of_lowercase                                                    0
non_alp                                                                1
dtype: object
Number of NonAlphabets (Maximum): non_alp    7295
dtype: int64
Number of NonAlphabets (Average): 59.078616753971296

In [18]:
fakedata['number_of_lowercase'] = fakedata['text'].apply(lambda x: len([x for x in x.split() if x.islower()]))
fakedata[['text','number_of_lowercase']].head()
print('Number of Lowercase (Minimum):' + str(np.min(fakedata[fakedata['number_of_lowercase'] > 0])));
print('Number of Lowercase (Maximum): ' + str(np.max(fakedata[['number_of_lowercase']])));
print('Number of Lowercase (Average): ' + str(np.average(fakedata[['number_of_lowercase']])));

Number of Lowercase (Minimum):title                  \r\r\r\r\r\r\r\nDonald Trump Gets His A** Hand...
text                       (Welcome) to America We hope you enjoy our...
subject                                                  Government News
date                                                           14-Feb-18
number_of_char                                                        14
number_of_words                                                        1
word_length                                                          2.8
number_of_numbers                                                      0
number_of_lowercase                                                    1
dtype: object
Number of Lowercase (Maximum): number_of_lowercase    6601
dtype: int64
Number of Lowercase (Average): 339.9935692687705

In [23]:
fakedata['number_of_uppercase'] = fakedata['text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
fakedata[['text','number_of_uppercase']].head()
print('Number of Uppercase (Minimum):' + str(np.min(fakedata[fakedata['number_of_uppercase'] > 0])));
print('Number of Uppercase (Maximum): ' + str(np.max(fakedata[['number_of_uppercase']])));
print('Number of Uppercase (Average): ' + str(np.average(fakedata[['number_of_uppercase']])));

Number of Uppercase (Minimum):title                  \r\r\r\r\r\r\r\nDonald Trump Gets His A** Hand...
text                       (Welcome) to America We hope you enjoy our...
subject                                                  Government News
date                                                           14-Feb-18
number_of_char                                                         7
number_of_words                                                        2
word_length                                                         2.25
number_of_numbers                                                      0
number_of_lowercase                                                    0
non_alp                                                                0
number_of_uppercase                                                    1
dtype: object
Number of Uppercase (Maximum): number_of_uppercase    309
dtype: int64
Number of Uppercase (Average): 8.915633916783783

                                                    Simple Text Preprocessing

Transforming text into lower case to remove case sensitiveness,
Removing punctuations to reduce dataset (e.g. ;:'"~\`,./\|!@#$%^&*()_ etc),
Remove stopwords (e.g. a, an, not, the, but, how, or, what etc),
Removing numbers,
Removing URLs,
Removing HTML Tags,
Removing Emojis,
Stemming,
Lemmatization,

In [15]:
lowercased_text = [fakeword.lower() for fakeword in fakedata.text]

In [17]:
fakedata

,title,text,subject,date,number_of_char,number_of_words,word_length,number_of_numbers,non_alp,number_of_lowercase,number_of_uppercase
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",2893,516,4.804040,4,121,347,5
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1898,309,5.213115,0,39,225,3
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",3597,600,5.168966,0,148,414,42
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",2774,475,5.180180,5,118,339,5
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",2346,434,4.554762,0,40,358,0
...,...,...,...,...,...,...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",3237,542,5.164751,3,47,412,19
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1684,301,4.659933,0,44,246,8
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",25065,4343,4.968353,14,534,3418,90
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",2685,476,4.846491,3,70,349,23
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",5251,905,4.973684,5,149,662,40