In [1]:
import os
import pandas as pd

In [2]:
import tensorflow as tf

In [3]:
import tensorflow_datasets as tfds

In [4]:
df_true = pd.read_csv('True.csv')
df_fake = pd.read_csv('Fake.csv')

In [5]:
df_true.head(1)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"

In [6]:
df_true['label'] = 1
df_fake['label'] = 0

In [7]:
df_true.drop(['title','subject','date'], axis = 1, inplace = True)
df_fake.drop(['title','subject','date'], axis = 1, inplace = True)

In [8]:
df_true.head(1)

                                                text  label
0  WASHINGTON (Reuters) - The head of a conservat...      1

In [9]:
df = pd.concat([df_true, df_fake], ignore_index = True)

In [10]:
num_examples = len(df)

In [11]:
ds_raw = tf.data.Dataset.from_tensor_slices((df['text'].values, df['label'].values))
ds_raw = ds_raw.shuffle(num_examples, reshuffle_each_iteration = False)
for example in ds_raw.take(1):
    print(example[0].numpy()[:100])
    print(example[1])

b'President Trump and his lovely wife Melania spent the day in Las Vegas, where they thanked the first'
tf.Tensor(0, shape=(), dtype=int64)

In [13]:
print(num_examples)

ds_temp = ds_raw.take(40000)
ds_test_raw = ds_raw.skip(40000)
ds_train_raw = ds_temp.take(38000)
ds_val_raw = ds_temp.skip(38000)

44898

#Step 2: Find unique tokens

In [14]:
from collections import Counter
token_count = Counter()

In [16]:
tokenizer = tfds.features.text.Tokenizer()

for example in ds_train_raw:
    tokens = tokenizer.tokenize(example[0].numpy())
    token_count.update(tokens)

In [17]:
print(len(token_count))

137488

In [ ]:
from collections import Counter
token_count = Counter()

tokenizer = tfds.features.text.Tokenizer()

for example in ds_train_raw:
    tokens = tokenizer.tokenize(example[0].numpy())
    token_count.update(tokens)